@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
  
html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
}
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 250px;
}